@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    resize: none;
}

:root {
    --pt_sans: var(--pt_sans);
    --font_amatic: var(--font_amatic);
    --verde: #54b473;
    --branco_pastel: #EEE5DA;
}

.alinhamento {
    width: 1440px;
    margin: 0 auto;
}

body {
    background-color: var(--branco_pastel);
}

header {
    width: 100%;
    background-color: #54b473;
    padding-bottom: 20px;
    padding-top: 20px;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 1200px;
    list-style: none;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    font-weight: 1000;
}

.menu a:hover {
    border-bottom: 2px solid var(--branco_pastel);
    color: var(--branco_pastel);

}

main {
    background-color: var(--branco_pastel);

}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

/* Quem Somos? */
.quem_somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.primeira_foto {
    width: 700px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
}

.sobre {
    display: flex;
    text-align: center;
    width: 600px;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.sobre_titulo {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
}

.sobre_texto {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
}

.btn_esg {
    font-family: 'Amatic SC', cursive;
    background: var(--verde);
    border-radius: 30px;
    width: 250px;
    height: 60px;
    font-size: 35px;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.4);
}

.btn_esg a {
    text-decoration: none;
    color: white;
}

.esg_alinhamento {
    width: 100%;
}

.data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Sans';
    font-size: 80px;
    color: var(--branco_pastel);
    background-color: #54b473;
    padding: 100px;
}

span {
    text-transform: uppercase;
}

.imagens {
    background-color: #54b473;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.imgs>* {
    width: 430px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
}

.sobre_esg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.esg {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.sobre_esg {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
}

.sobre_esg_titulo {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    margin-top: 20px;
}

.sobre_esg_texto {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    width: 80%;
}

.esg_imagem {
    width: 60%;
    margin-bottom: 30px;
}

.nerd {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url(IMG/espaco.png);
    background-size: 100%;

}

.lucasfilm {
    width: 20%;
    height: 10%px;
}

.titulo_nerd {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #ffffff;
}

.texto_nerd {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;

}

.outono_inverno {
    width: 100%;
    height: 500px;
    background-image: url(IMG/fundo_outono1.png);
    padding: 80px;
    margin-bottom: 65px;

}

.titulo_outono_inverno {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    height: 40%;
    font-weight: 600;

}

.primavera_verao {

    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.titulo_primavera_verao {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #000000;
    text-align: center;
    height: 40%;
    font-weight: 600;
    background-color: #ffc300;

}

.img_primavera_verao {
    padding: 0;
    margin: 0;
}

.img_back {
    transform: rotate(180deg);
}

.texto_outono_inverno {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    height: 40%;
    font-weight: 600;
}

.nerd {
    height: 900px;
}

.formulario {
    background-color: var(--verde);
    padding: 100px 0;
}

.formulario_titulo {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: white;
    margin: 15px;
}

form {
    color: white;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

label {
    font-size: 25px;
}

input {
    height: 35px;
    padding: 20px;
}

textarea {
    padding: 20px;
}

.borda {
    border: 1px solid var(--branco_pastel);
    border-radius: 20px;
    margin-bottom: 20px;
}

.btn_forms {
    justify-content: center;
    background: white;
    border: var(--branco_pastel);
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: var(--verde);
    margin: 0 auto;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.4)
}

.mapa {
    width: 580px;
}

.contato {
    padding: 100px 0;
}

.contato_titulo {
    font-family: 'PT Sans', sans-serif;
    ;
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.contato_conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.borda_mapa {
    border: 5px solid var(--verde);
    width: 580px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato_info {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info>i {
    margin-right: 20px;
    color: var(--verde);
}

footer {
    background-color: var(--verde);
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

}

.burguer {
    display: block;
    color: #ffffff;
    font-size: 55px;
}

/* Responsividade */
/* Pequenas telas: ate 600px */
/* Celular: de 600px ate 768px
Table: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px  */



@media screen and (max-width: 1440px) {

    #burguer {
        display: none;

    }

    .alinhamento {
        width: 100%;
    }

    nav {
        padding: 0 50px;
    }

    .quem_somos {
        padding: 100px 50px;
    }

    .sobre {
        max-width: 100%;
    }

    .esg_imagem {
        width: 60%;
        margin-bottom: 30px;
    }


}

@media screen and (max-width: 1200px) {

    #burguer {
        display: none;
    }

    .menu {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 900px;
        list-style: none;
    }

    .menu a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
        padding-right: 5px;
    }

    .menu a:hover {
        border-bottom: 2px solid var(--branco_pastel);
        color: var(--branco_pastel);

    }

    .imagens {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

    }

    .esg_alinhamento {
        width: 100%;
    }

    .sobre_esg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .esg_imagem {

        display: flex;
        align-items: center;
        width: 60%;

    }

    .primeira_foto {
        width: 550px;
    }

    .primavera_verao {

        height: 645px;
    }

    .texto_nerd {
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (min-width: 900px) {

    #burguer {
        display: none;
    }
}

@media screen and (max-width: 900px) {

    #burguer {
        display: none;

    }

    .menu {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 900px;
        list-style: none;
    }

    .menu a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        padding-right: 5px;
    }

    .quem_somos {

        flex-direction: column;
        margin-bottom: 30px;
    }

    .sobre {
        margin-top: 30px;
    }

    .sobre_titulo {
        margin-top: 30px;

    }

    .data {
        font-size: 70px;
    }

    .imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;

    }

    .esg {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .sobre_esg {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .outono_inverno {
        height: 450px;
        padding-bottom: 0;
    }

    .contato_conteudo {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .primavera_verao {

        height: 480px;
    }

    .texto_nerd {
        text-align: center;
        font-size: 30px;
    }

    .menu {
        font-size: 10px;
        padding-right: 10px;

    }

}


@media screen and (max-width:768px) {

    #burguer {
        display: block;
        color: #ffffff;
        font-size: 55px;
    }

    #itens_menu {
        position: absolute;
        width: 50vw;
        top: 34vh;
        right: 0;
        background-color: var(--verde);
        gap: 50px;
    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .quem_somos {
        flex-direction: column;
    }

    .sobre {
        margin-top: 30px;
    }

    .imgs {
        gap: 50px;
    }

    .esg_alinhamento {
        display: flex;
    }

    .esg {
        flex-direction: column;
        align-items: center;
    }


    .data {
        font-size: 50px;
        align-items: center;
    }


}

@media screen and (max-width:580px) {

    #burguer {
        display: block;
        color: #ffffff;
        font-size: 55px;
    }

    #itens_menu {
        position: absolute;
        height: 890px;
        width: 50vw;
        top: 34vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--verde);
        gap: 50px;

    }

    .outono_inverno {
        display: flex;
        padding: 10px;
        align-items: center;
        height: 300px;
    }

    .primavera_verao {
        display: flex;
        padding: 10px;
        align-items: center;
        height: 300px;
    }

    .nerd {
        display: flex;
        padding: 10px;
        align-items: center;
        height: 650px;
    }

    .menu {
        display: none;
    }

    .menu li {
        padding: 50px;
    }


    .data {
        font-size: 40px;
    }

    .esg img {
        width: 70%;
    }

    .mapa {
        width: 400px;
    }

    .borda_mapa {
        width: 480px;
    }

    .contato_conteudo {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}